a, a:active {
	color: rgb(84, 149, 207);
	text-decoration-color: currentcolor;
}

h4.name {
	color: rgb(232, 230, 227);
	background-color: rgb(31, 56, 79);
	background-image: none;
	box-shadow: rgb(49, 53, 55) 0px 0.25em 0.5em;
	border-top-color: rgb(60, 65, 68);
	border-bottom-color: rgb(60, 65, 68);
	background-color: rgb(31, 56, 79);
}

.signature {
	color: rgb(84, 149, 207);
}

.type-signature {
	color: rgb(84, 149, 207);
}

span.param-type, .params td .param-type, .param-type dd {
	color: rgb(84, 149, 207);
}

nav > h2 > a {
	color: rgb(84, 149, 207) !important;
}

nav > ul > li > a {
	color: rgb(84, 149, 207);
}

nav a:hover, nav a:active {
	color: rgb(247, 158, 29);
}